# Hide all files, and show all folders and the .* files
*
!/**/
!/.*

# Show all files in project folders
!/*
!/.github/**
!/bin/*.js
!/models/**
!/src/**

# Fixes
!node_modules/@dcl/ecs/dist/engine/input.js
!node_modules/@dcl/sdk/src/players/index.ts
